<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apotheek Westerbork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include("navbar.ejs") %>
<div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4">Apotheek<strong class="text-primary">Westerbork</strong></h3>
              <p><h4>Adres en route</h4><br><hr>

               
                
                <p>Groeneweg 3 <br> 9431 BJ Westerbork <br> T: <a href="tel:+31593371590">0593 37 15 90</a><br> E: <a href="mailto: info@apotheekwesterbork.nl">info@apotheekwesterbork.nl</a></p>
                <p>Route</p>
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2409.372251266002!2d6.608067976814481!3d52.851695711618966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c81f502b6c59e9%3A0x3cfbb0cf1dc75546!2sApotheek%20Westerbork!5e0!3m2!1snl!2snl!4v1725004866324!5m2!1snl!2snl"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
            </div>


<div><%- include("footer.ejs") %>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>