<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apotheek Westerbork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include("navbar.ejs") %>
<div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4"><strong class="text-primary"></strong></h3>
              <p><h4>Afhaalkluis</h4><br><hr>
                <p>Het is met de afhaalkluis mogelijk om op onderstaande openingstijden snel en makkelijk bestelde medicijnen op te halen. Er wordt een code naar uw email-adres verstuurd. Met deze persoonlijke code is het mogelijk de bestelde medicatie uit de kluis te halen.
                </p>
                <p>U kunt zich aanmelden voor de afhaalkluis door ons een <a href="mailto: info@apotheekwesterbork.nl" class="link">e-mail<span>&#8594;</span></a> te sturen. Geef in het onderwerp aan dat u zich aanmeld voor onze afhaalkluis.
                </p>
                <p>Openingstijden afhaalkluis:</p>
            
                <table>
                    <tr>
                        <td class="day">Werkdagen:</td>
                        <td class="time">08:00 - 19:00 uur</td>
                    </tr>
                    <tr>
                        <td class="day">Zaterdag:</td>
                        <td class="time">08:00 - 16:00 uur</td>
                    </tr>
                    <tr>
                        <td class="day">Zondag:</td>
                        <td class="time">Gesloten</td>
                    </tr>
                </table>
                <br>
                <p>U vindt onze afhaalkluis op onderstaande adres:</p>
                Apotheek Westerbork<br>
                Groeneweg 3<br>
                9431BJ Westerbork<br><br>
                <p>Indien de afhaalkluis een storing heeft (buiten openingstijden van de apotheek), kunt u contact opnemen met de Wilhelmina Apotheek in Assen, nummer: <a href="tel:+31592302324">0592-302324</a>.
                </p>
            </div>
            </div>

            </div>
            </div>
            </div>


<div><%- include("footer.ejs") %>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>