<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apotheek Westerbork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <%- include("navbar.ejs") %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-8 mb-4 mb-lg-0">
        <div class="block-7">
          <h3 class="footer-heading mb-4"><strong class="text-primary"></strong></h3>
          <p><h4>E-mail & Telefoon </h4><br><hr>

            <p><h5></h5></p>
            
            <div class="feature">
              <br><br>
               <h3><a href="#">Uw Apotheek in Westerbork</a></h3>
               <p>Heeft u een vraag over uw medicatie, de beschikbaarheid van geneesmiddelen, <br>recepten/herhaalrecepten, diensten van de apotheek of wilt u zich inschrijven bij de apotheek?<br>
                 Neem dan contact met ons op, wij helpen u graag verder: </p>
                 <div class="col-md-6 col-lg-3">
                   <div class="block-5 mb-5">
                     <h3 class="footer-heading mb-4"></h3>
                     <ul class="list-unstyled">
                      
                       <li class="phone"><a href="tel:+31593371590">0593 371590</a></li>
                       <li class="email"><a href="mailto:info@apotheekwesterbork.nl">info@apotheekwesterbork.nl</a></li>
                     </ul>
                   </div>
                 </div>
                 
                   <div class="feature">
                   
                     <h3><a href="https://home.mijngezondheid.net/nl" >Contact via MijnGezondheid.net of de app MedGemak</a></h3>
                     <p>Bent u klant van de apotheek, dan kunt u ook via ons beveiligd portaal MijnGezondheid.net<br> of via de app MedGemak, een bericht naar de apotheek sturen.
                     </p>
                     <p><a href="https://home.mijngezondheid.net/nl" class="d-flex align-items-center"><span class="mr-2">Meer informatie</span> <span class="icon-keyboard_arrow_right"></span></a></p>
                   </div>
            
                 </div>
               </div>
             </form>
           </div>
    </div> 
        </div>
        </div>

    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-black mb-4">Overige vestigingen</h2>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase">Apotheek Koop</span>
              <p class="mb-0"> Havezatenlaan 1-11</p>
              <p class="mb-0"> 7557 VW Hengelo</p>
              
              <p class="mb-0"><a href="https://www.apotheekkoop.nl">www.apotheekkoop.nl</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase">Apotheek Dutmer</span>
              <p class="mb-0"> Beukweg 2</p>
              <p class="mb-0"> 7556 DE Hengelo </p>
              <p class="mb-0"><a href="https://www.apotheekdutmer.nl">www.apotheekdutmer.nl</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase">Apotheek Berflo-Es</span>
              <p class="mb-0"> Twekkelerweg 122</p>
              <p class="mb-0"> 7553 LN Hengelo </p>
              <p class="mb-0"><a href="https://www.apotheekberflo-es.nl">www.apotheekberflo-es.nl</a></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>


  </div>

    <%- include("footer.ejs") %>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>