<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apotheek Westerbork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    .iframe-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio (9 / 16 = 0.5625 or 56.25%) */
        overflow: hidden;
    }
    
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
</style>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include("navbar.ejs") %>
<div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4"><strong class="text-primary"></strong></h3>
              <p><h4>Begeleidingsgesprek bij een nieuw medicijn</h4><br><hr>

                <p>Krijgt u een medicijn voor de eerste keer mee van de apotheek? Dan krijgt u aan de balie uitleg over uw medicijn. Door dit begeleidingsgesprek kunt u veilig en bewust uw nieuwe medicijn gebruiken.

                    Elke patiënt is anders. Dus medicijngebruik is maatwerk. De apotheekmedewerker checkt of uw medicijn bij u past, of de dosering klopt, of er geen wisselwerkingen optreden met uw andere medicijnen. Dan legt de apotheekmedewerker uit hoe u het medicijn goed kunt gebruiken. Voor veilig medicijngebruik is het begeleidingsgesprek van levensbelang.</p>
                    <div class="iframe-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/TcugsH_pQLE?si=nOXSzKAsdqdVb8X9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
                    <br>
                    <p><h5>Terhandstelling en begeleidingsgesprek bij een nieuw medicijn</h5></p>
                    <p>Onderdeel van de zorg die de apotheker verleent als u voor het eerst een medicijn meekrijgt, is een begeleidingsgesprek. U krijgt dit adviesgesprek ook als u een medicijn wel eerder gebruikte, maar de laatste keer meer dan 1 jaar geleden is. Officieel heet dit ‘Terhandstelling en begeleidingsgesprek nieuw geneesmiddel’. U kunt het onder die naam terugvinden op het declaratieoverzicht van uw zorgverzekeraar.
                    </p>

                        <p>Is het gesprek verplicht?</p>
                        <p>Ja, van apothekers en apotheekmedewerkers wordt verwacht dat ze een begeleidingsgesprek voeren. Anders mogen ze het medicijn in principe niet meegeven.
                        </p>
                        <p>Inhoud begeleidingsgesprek</p>
                        <p>In het begeleidingsgesprek bespreekt de apotheekmedewerker met u wat u van uw medicijn kunt verwachten. Hij of zij vertelt iets over:
                        </p>
                        <ul>
                        <li>De werking van het medicijn;
                        </li><li>Hoe het medicijn moet worden gebruikt en de dosering;
                        </li><li>Mogelijke bijwerkingen;
                        </li><li>Meer eetlust.
                        </li><li>Eventuele andere bijzonderheden, adviezen of waarschuwingen;
                        </li><li>Eventuele wisselwerkingen met andere medicijnen die u gebruikt.
                        </ul>

                        Op de rekening van uw zorgverzekeraar ziet u:
                        <p><h5>Wat zijn de kosten?</h5></p>
                        <p><Op de rekening van uw zorgverzekeraar ziet u:/p>
<ul><li>De kosten van het medicijn zelf;
</li><li>De kosten voor de apotheekzorg (Terhandstelling en begeleidingsgesprek nieuw medicijn).
</li></ul>
<p>De precieze kosten verschillen per verzekeraar en vallen meestal onder uw eigen risico. Neem voor vragen over de kosten contact op met de klantenservice van uw zorgverzekeraar.
</p><p>
Het maakt niet uit of u dure of goedkope medicijnen krijgt. De apotheker ontvangt een vast bedrag. Niet voor de pillen. Maar voor de zorg die hij levert. Zo krijgt u onafhankelijk advies.
        </p></div>
            </div>
            </div>


            </div>
            </div>
            </div>


<div><%- include("footer.ejs") %>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>