<footer class="site-footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="block-7">
          <h3 class="footer-heading mb-4">Spoed <strong class="text-primary">Apotheek</strong></h3>
          <p>Voor spoedgevallen buiten de openingsuren kunt u naar de Wilhelmina apotheek. <br>'s Avonds, 's nachts en in het weekend bereikbaar.

 

            <p>Wilhelmina apotheek
            Europaweg-Zuid 1 <br>
            9401 RK Assen  <br>
            T: 0592-302324 <br>
            F: 0592-325362 <br>
            Website: <a href= "https://www.wza.nl/pati%C3%ABnt/specialismen-en-afdelingen/wilhelmina-apotheek-4345">Klik hier</a> </p>
            
            Neem uw verzekeringspas en een geldig identiteitsbewijs mee.  <br> Betalen is alleen mogelijk per pin.</p>
        </div>
     
      </div>
      <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
        <h3 class="footer-heading mb-4">Openingstijden</h3>
        <table>
          <tr>
              <td class="day">Maandag</td>
              <td class="time">08:00 - 17:30</td>
          </tr>
          <tr>
              <td class="day">Dinsdag</td>
              <td class="time">08:00 - 17:30</td>
          </tr>
          <tr>
              <td class="day">Woensdag</td>
              <td class="time">08:00 - 17:30</td>
          </tr>
          <tr>
              <td class="day">Donderdag</td>
              <td class="time">08:00 - 17:30</td>
          </tr>
          <tr>
              <td class="day">Vrijdag</td>
              <td class="time">08:00 - 17:30</td>
          </tr>
         
      </table>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">Groeneweg 3 <br> 9431 BJ <br> Westerbork</li>
            <li class="phone"><a href="tel:+31593371590">0593 371590</a></li>
            <li class="email"><a href="mailto: info@apotheekwesterbork.nl">info@apotheekwesterbork.nl</a></li>
          </ul>
        </div>

        

      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          
        </p>
      </div>

    </div>
  </div>
</footer>