<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apotheek Westerbork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <%- include("navbar.ejs") %>
 
    <div class="owl-carousel owl-single px-0">
      <div class="site-blocks-cover overlay" style="background-image: url('images/hero_bg.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto align-self-center">
              <div class="site-block-cover-content text-center">
                <h1 class="mb-0"><strong class="text-primary">Vernieuwend,</strong> Verfrissend, Vakkundig </h1>

                <div class="row justify-content-center mb-5">
                  <div class="col-lg-6 text-center">
                    <p></p>
                  </div>
                </div>
                
          
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-blocks-cover overlay" style="background-image: url('images/hero_bg_2.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto align-self-center">
              <div class="site-block-cover-content text-center">
                <h1 class="mb-0">Optimale <strong class="text-primary">Medicatieveiligheid</strong></h1>
                <div class="row justify-content-center mb-5">
                  <div class="col-lg-6 text-center">
                    <p></p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="site-section py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-medicine"></span>
              <h3><a href="#">Uw Apotheek in Westerbork</a></h3>
              <p>Onze apotheek vindt het belangrijk dat de patiënt goed begeleid wordt. Met vragen kunt u op verschillende manieren bij ons terecht: via de website, telefonisch en via persoonlijk contact in de apotheek. Voor achtergrondinformatie over bijvoorbeeld medicijnen, de bijwerkingen, aandoeningen kunt u ook terecht op onze website.</p>
              <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Meer informatie</span> <span class="icon-keyboard_arrow_right"></span></a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-medicine"></span>
              <h3><a href="#">Medicijnconsult</a></h3>
              <p>Voor een persoonlijk medicijnconsult bent u welkom in onze apotheek. Wij hebben hiervoor een aparte spreekkamer om uw privacy volledig te kunnen garanderen. De aparte spreekkamer ingericht voor het bespreken van langere vragen, een uitgebreid medicijnconsult of delicate kwesties. U kunt hiervoor een afspraak maken met uw apotheek.</p>
              <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Meer informatie</span> <span class="icon-keyboard_arrow_right"></span></a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-test-tubes"></span>
              <h3><a href="https://home.mijngezondheid.net/nl" >Nieuw portaal MijnGezondheid.net en nieuwe app MedGemak</a></h3>
              <p>Apotheek Westerbork nodigt u van harte uit om gebruik te maken van ons nieuw portaal: MijnGezondheid.net of onze nieuwe app: “MedGemak”. Hierin kunt u online zelf uw medisch, dossier inzien, medicatie herhalen, vragen stellen en wijzigingen in uw gegevens (woonadres, emailadres en/of telefoonnummer) doorgeven.
</p>
              <p><a href="https://home.mijngezondheid.net/nl" class="d-flex align-items-center"><span class="mr-2">Meer informatie</span> <span class="icon-keyboard_arrow_right"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    

    

    <div class="site-section">
      <div class="container">
        
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <div class="title-section">
              <h2>Testimonials <strong class="text-primary">Klanten</strong></h2>
            </div>
            <div class="block-3 products-wrap">
            <div class="owl-single no-direction owl-carousel">
        
              <div class="testimony">
                <blockquote>
                  <img src="images/person_1.jpg" alt="Image" class="img-fluid">
                  <p>&ldquo;Ik ben regelmatig in het buitenland en als ik dan mijn medicatie eerder vraag is dat geen probleem. Meedenken, vriendelijk, goed inzicht en behulpzaam..&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Sylvia</p>
              </div>
        
              <div class="testimony">
                <blockquote>
                  <img src="images/person_2.jpg" alt="Image" class="img-fluid">
                  <p>&ldquo; De vriendelijkheid en bereidheid iedereen te voorzien van hun medicatie. &rdquo;</p>
                </blockquote>
              
                <p class="author">&mdash; Quin</p>
              </div>
        
              <div class="testimony">
                <blockquote>
                  <img src="images/person_3.jpg" alt="Image" class="img-fluid">
                  <p>&ldquo; Er zijn een aantal dames die er al lang werken die zeer vriendelijk zijn, en met je meedenken.&rdquo;</p>
                </blockquote>
              
                <p class="author">&mdash; Lucas</p>
              </div>
        
              <div class="testimony">
                <blockquote>
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid">
                  <p>&ldquo;Meedenkend bij meer lastige vragen. Daar toch een stapje extra voor willen zetten, klantvriendelijk. Een aantal vaste medewerkers zijn zeer prettig in de omgang.&rdquo;</p>
                </blockquote>
              
                <p class="author">&mdash; Arend</p>
              </div>
        
            </div>
          </div>
          </div>
          <div class="col-lg-5">
            <div class="title-section">
              <h2 class="mb-5">Snel <strong class="text-primary">Toegang</strong></h2>
              <div class="step-number d-flex mb-4">
                
                <div class=>
                  <div class=>
                    <div class=>
                      <a href="https://home.mijngezondheid.net/nl" ><img src="images/mijngezondheid.gif" alt="Image placeholder" ></a>
                      <h3 class="block-38-heading h4"><a href="https://home.mijngezondheid.net/nl" class="d-flex align-items-center">Herhaalrecepten bestellen</a></h3>
                      <p class="block-38-subheading"></p>
                      </div></div></div></div></div>
                    
                      <div class=>
                        <div class=>
                          <div class=>
                            <a href="https://www.littlebaby.nl/" ><img src="images/babyzalf.jpg" alt="Image placeholder" ></a>
                            <h3 class="block-38-heading h4"><a href="https://www.littlebaby.nl/" class="d-flex align-items-center">Little babyzalf bestellen</a></h3>
                            <p class="block-38-subheading"></p>
                            </div></div></div></div></div>

        

          
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("footer.ejs") %>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>
