
<div class="site-wrap">


  <div class="site-navbar py-2">
    
    <div class="search-wrap">
      <div class="container">
        <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
        <form action="#" method="post">
          <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
        </form>
      </div>
    </div>

    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
          <div class="site-logo">
            <a href="/index" class="js-logo-clone"><strong class="text-primary">Apotheek</strong><br>Westerbork</a>
          </div>
        </div>
        <div class="main-nav d-none d-lg-block">
          <nav class="site-navigation text-right text-md-center" role="navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li class="active"><a href="/index">Home</a></li>
              <li class="has-children">
                <a href="#">Over ons</a>
                <ul class="dropdown">
                  <li><a href="/about">Onze Apotheek</a></li>
                  <li><a href="#">Openingstijden</a></li>
                  <li><a href="#">Dienstapotheek</a></li>
                  <li><a href="/klachtenregeling">*Klachtenregeling</a></li>
                  <li><a href="#">Privacy- &amp; Cookieverklaring</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Services</a>
                <ul class="dropdown">
                  <li><a href="https://home.mijngezondheid.net/nl">*Herhaalrecepten</a></li>
                  <li>
                    <a href="#">Afhaalkluis</a>
              
                  </li>
                  <li><a href="#">Inloopspreekuur</a></li>
                  <li><a href="#">Service- en Voorlichtingsdagen</a></li>
                  
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Informatie</a>
                <ul class="dropdown">
                  <li><a href="#">Medische klachten</a></li>
                  <li>
                    <a href="#">Kijksluiter</a>
                    
                  </li>
                  <li><a href="https://www.apotheeknieuws.nl/">*Nieuws</a></li>
                  <li><a href="#">Toestemming geven</a></li>
                  <li><a href="#">Reisadvies</a></li>
                  <li><a href="#">Links</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Meer</a>
                <ul class="dropdown">
                  <li><a href="#">Iemand anders machtigen</a></li>
                  <li>
                    <a href="#">Merkloos medicijn: goed en goedkoper</a>
                  
                  </li>
                  <li><a href="#">Patiëntenfolders</a></li>
                  <li><a href="#">Begeleidingsgesprek bij een nieuw medicijn</a></li>
                  <li><a href="#">Medicijnen in het verkeer</a></li>
                  <li><a href="#">Geneesmiddelen mee op reis</a></li>
                  <li><a href="#">Zorgverzekering en apotheek</a></li>
                </ul>
              </li>
            </li>

            <li class="has-children">
              <a href="#">Contact</a>
              <ul class="dropdown">
                <li><a href="/contact">*Contactformulier</a></li>
                <li>
                  <a href="#">Inschrijving/wijzigingen </a>
                  
                </li>
                
                <li><a href="/adresroute">*Adres en Route </a></li>
                
              </ul>
            </li>
            </li>
              
            </ul>
          </nav>
        </div>
        <div class="icons">
          <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
          
          <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
              class="icon-menu"></span></a>
        </div>
      </div>
    </div>
  </div>
