<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apotheek Westerbork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include("navbar.ejs") %>
<div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4"><strong class="text-primary"></strong></h3>
              
                <p><h4>Ons Team </h4><br><hr>

                    <p><h5 class="footer-heading mb-4">Wij staan voor u <strong class="text-primary">klaar!</strong></h5></p>
                    Team<br>
                    1 apotheker - Dhr. drs. S. Chentasingh - BIG nummer: 29063823717<br>
                    7 apothekersassistenten<br>
                    1 bezorger<br>
                  
                    
                
                    <p> <h6 class="footer-heading mb-4"><strong class="text-primary">Waarom Wij Anders Zijn?</strong></h6></p>
                    <p> <h6 class="footer-heading mb-4"><strong class="text-primary">UW PERSOONLIJKE APOTHEKER</strong></h6></p>
                    <p>Vernieuwend, Verfrissend, Vriendelijk, Vakkundig en Vlug. Dat is wat u van ons mag verwachten. En eigenlijk nog veel meer dan dat.</p>
                    
                    <p><h6 class="footer-heading mb-4"><strong class="text-primary">PERSOONLIJK EN VAKKUNDIGE SERVICE</strong></h6></p>
                    <p>Uw apotheek kenmerkt zich door persoonlijk en vakkundige service en kan u voorzien in alle medicijnen. Daarnaast is een breed assortiment zelfzorg- en verzorgingsproducten verkrijgbaar.</p>
                    <p><h6 class="footer-heading mb-4"><strong class="text-primary">SERVICE VAN UW APOTHEEK</strong></h6></p>
                    <p>Optimale medicatieveiligheid, afhaalautomaat buiten openingstijden, automatische herhaalservice en betrokken medewerkers. De service van uw apotheek gaat verder dan u gewend bent</p>
                 
              </div>
            </div>
            </div>


<div><%- include("footer.ejs") %>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>