<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apotheek Westerbork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include("navbar.ejs") %>
<div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4"><strong class="text-primary"></strong></h3>
              <h4 class="footer-heading mb-4">Privacy-<strong class="text-primary">en cookieverklaring</strong></h4>
              
            </div><p>Bij Apotheek Westerbork BV hechten wij groot belang aan de privacy van de gebruikers van de website. Om uw privacy zo goed mogelijk te waarborgen, hanteren wij een aantal kernwaarden</p>

            <p><ul><li>Informeren - Wij willen u zo goed mogelijk informeren hoe en waarom wij persoonsgegevens verwerken. Dat doen wij via deze privacyverklaring.
            </li><li>Verzameling beperken - Wij letten er nauw op dat onze verzameling van persoonsgegevens beperkt blijft tot alleen datgene wat echt nodig is voor de goede werking van de website en de door u gebruikte diensten.
            </li><li>Geen marketing op basis van persoonsgegevens - Wij geven persoonsgegevens niet uit handen voor marketingdoeleinden en sturen alleen na uw uitdrukkelijke toestemming commerciële mailings.
            </li><li> Uw gegevens blijven bij ons - Wij geven uw persoonsgegevens niet door aan andere partijen, tenzij dat nodig is om de gebruikte dienst te kunnen leveren of wanneer wij daar wettelijk toe verplicht zijn.
            </li><li>Beveiligen - Wij nemen passende beveiligingsmaatregelen om uw persoonsgegevens te beschermen en eisen dat ook van partijen die in onze opdracht persoonsgegevens verwerken.
            </li>Wij respecteren uw wettelijke rechten - Op basis van de wet heeft u verschillende rechten. In deze privacyverklaring informeren wij u daarover
            </ul></p>

            <p>In deze privacyverklaring kunt u lezen hoe wij deze kernwaarden in de praktijk brengen en uw recht op privacy respecteren en beschermen.</p>
            <p> <h5>Waarvoor gebruiken wij uw persoonsgegevens?</h5></p>
            <p>Afhankelijk van de door ons via de website aangeboden diensten kunnen de persoonsgegevens die u via onze website kunt achterlaten worden gebruikt voor de onderstaande doelen.
          </p>
            <ul><li>Beheren van uw account en profiel - Indien u ervoor kiest om een account aan te maken vragen wij van u enkele gegevens om dit te realiseren. Denk hierbij aan uw e-mailadres, zelfgekozen wachtwoord, NAW-gegevens, geslacht en uw geboortedatum. Deze gegevens maken het mogelijk voor u om bepaalde diensten op onze website te gebruiken. Door een account aan te maken hoeft u de gegevens niet telkens opnieuw in te vullen.
            </li><li>Inschrijven en afspraak maken - Indien u zich via onze website bij ons inschrijft of een afspraak maakt, dan worden de gegevens die u verstrekt in het betreffende formulier of afspraakservice uitsluitend gebruikt voor het beheren van uw inschrijving en het maken van een afspraak.
            </li><li>Anamnese- of (herhaal)receptformulier - Vult u via onze website een anamneseformulier in, of vraagt u (herhaal)medicatie aan via een formulier dan bieden de gegevens die u daar geeft ons een algemeen inzicht in uw gezondheid, medicijngebruik, aandoeningen en allergieën. Deze informatie behandelen wij vertrouwelijk en gebruiken wij uitsluitend om aan u de juiste zorg te kunnen bieden.
            </li><li>Aanvragen medicatie of herhaalrecept - Vraagt u via onze website medicatie aan door in te loggen in uw persoonlijke omgeving, dan krijgt u inzicht in uw online medicatieprofiel zoals dat bij ons bekend is. Vervolgens kunt u medicatie bestellen en herinneringen instellen.
            </li><li>eConsult - Gebruikt u het eConsult voor uw vragen aan ons dan behandelen we de gegevens die u verstrekt vertrouwelijk. Om gebruik te maken van deze dienst moet u inloggen op uw persoonlijke omgeving.
            </li><li>Uw medisch dossier - In het geval u medische gegevens aan ons verstrekt kunnen deze worden opgenomen in uw medisch dossier. Dit doen wij slechts indien dat wettelijk is toegestaan of wij daarvoor uw uitdrukkelijke toestemming hebben verkregen
            </li><li>Email - Indien u vragen heeft kunt u ons altijd benaderen door een email te sturen naar de apotheek. Gevraagd wordt om uw naam en contactgegevens in te vullen met daarbij een omschrijving van uw vraag. Deze gegevens worden uitsluitend gebruikt om uw vraag te behandelen en om onze dienstverlening te verbeteren.
            </li><li>Bestellen via de mail - Gegevens die u verstrekt bij het plaatsen van een bestelling worden door ons gebruikt om de bestelling af te handelen. Waar nodig worden er gegevens verstrekt aan andere partijen die betrokken zijn bij het afhandelen van de bestelling, zoals de bezorgdienst.
            </li><li>Nieuwsbrief - Indien u ons toestemming geeft voor het versturen van een nieuwsbrief, gebruiken wij uw e-mailadres en naam om de nieuwsbrief aan u te versturen. Een eerder gegeven toestemming kunt u altijd intrekken, bijvoorbeeld door op de uitschrijflink te klikken die onder aan elke commerciële mailing is opgenomen.
            </li><li>Verbeteren van onze dienstverlening - Uw gegevens kunnen wij gebruiken voor het verbeteren van onze dienstverlening. Dat doen wij echter alleen indien u de gegevens met dat doel heeft verstrekt, of ons daar toestemming voor heeft gegeven. Denk hierbij bijvoorbeeld aan uw feedback die u via een klachtenformulier aan ons heeft toegezonden of de toestemming die heeft gegeven voor het gebruik van cookies.
            </li></ul>

            <p>Wij zullen uw persoonsgegevens niet voor andere dan bovengenoemde doeleinden verwerken, tenzij u daar vooraf toestemming voor heeft gegeven of wij dit op grond van de wet mogen of moeten doen.
            </p>
            <p><h5>Op welke grondslagen verwerken wij uw persoonsgegevens?</h5></p>
            <p>Wij verwerken uw persoonsgegevens enkel op basis van een wettelijke grondslag. Voor de hierboven genoemde doeleinden verwerken wij uw persoonsgegevens op basis van de volgende grondslagen:
            </p><ul>
            <li>Uitvoering van de overeenkomst : voor de doeleinden die gericht zijn op het aanbieden van onze dienstverlening, bijvoorbeeld om uw inschrijving af te handelen;
            </li><li>(Uitdrukkelijke) toestemming : voor de doeleinden die gericht zijn op het verlenen van toegang tot- en het gebruik maken van de functionaliteiten van onze website, het plaatsen van cookies, het versturen van onze nieuwsbrief, of het verwerken van uw medische gegevens nadat wij daar uw (uitdrukkelijke) toestemming voor hebben verkregen;
            </li><li>Gerechtvaardigd belang : in bepaalde gevallen hebben wij een gerechtvaardigd belang bij het verwerken van uw persoonsgegevens. Dat is bijvoorbeeld het geval als wij gebruik maken van cookies ter verbetering van onze dienstverlening en die geen of een beperkte invloed hebben op uw persoonlijke levenssfeer;
            </li><li> Wettelijke verplichting : voor de doeleinden die gericht zijn op het verwerken van uw medische gegevens en het bijhouden van uw medisch dossier kunnen wij een wettelijke grondslag hebben. Daarnaast zijn wij wettelijk verplicht bepaalde gegevens te bewaren van de bestelling die u in onze webshop heeft geplaatst.
        </li></ul>
        <p><h5>Welke persoonsgegevens hebben wij nodig?</h5></p>
            <p>Door het gebruiken van de website en de daarop beschikbare diensten laat u bepaalde gegevens bij ons achter. Wij bewaren en gebruiken uitsluitend de persoonsgegevens die rechtstreeks door u worden opgegeven of waarvan bij opgave duidelijk is dat ze aan ons worden verstrekt om te verwerken. Afhankelijk van de dienst die u gebruikt kunnen wij de volgende gegevens via de website verzamelen:
            </p>
            <ul><li>Uw contactgegevens (e-mailadres, telefoonnummer);
            </li><li>Uw naam, adres een woonplaats;
            </li><li>Uw geslacht en geboortedatum;
            </li><li>Accountgegevens;
            </li><li>Verzekeringsgegevens (naam verzekeraar, polisnummer, aanvangsdatum verzekering);
            </li><li>De naam van uw zorgverleners of apotheek;
            </li><li>Tijdstip van uw afspraak;
            </li><li>Betalingsgegevens en factuuradres;
            </li><li>Gegevens betreffende uw gezondheid;
            </li><li>Burgerservicenummer (BSN);
            </li><li>Klik- en bezoekgedrag;
            </li><li>Apparaatgegevens / (gepseudonimiseerd) IP-adres.
            </li></ul>
            <p><h5>Gegevens van personen jonger dan 16 jaar</h5></p>
            <p>Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn dan 16 jaar. We kunnen echter niet controleren of een bezoeker ouder dan 16 is. Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als u ervan overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, neem dan contact met ons op.
            </p>
            <p><h5>Verstrekking aan derden</h5></p>
            <p>Uw gegevens worden uitdrukkelijk niet aan derden verstrekt, anders dan derden die direct betrokken zijn bij de uitvoering van de overeenkomst tussen u en ons, of tenzij enige wettelijke bepaling ons hiertoe verplicht. De partijen die wij mogelijk nodig hebben voor de uitvoering van de door u aangevraagde diensten zijn:
            </p><ul>
            <li>Hostingpartijen en onze softwareleveranciers;
            </li><li>Betaaldienstverleners en bezorgdiensten;
            </li><li>Uw zorgverzekeraar.
            </li></ul>
            <p><h5>Beveiliging</h5></p>
            <p>Wij nemen de bescherming van uw gegevens serieus en nemen passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als u de indruk heeft dat uw gegevens niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan contact op met ons.
            </p>
            <p><h5>Bewaartermijn</h5></p>
            <p>Uw persoonsgegevens worden nimmer langer bewaard dan nodig is voor de in deze privacyverklaring of op de website omschreven doelen, behoudens de gevallen waarin enige wettelijke verplichting zich verzet tegen verwijdering van de persoonsgegevens.
            </p>
            <p><h5>Websites van derden</h5></p>
            <p>Deze privacyverklaring is niet van toepassing op websites van derden die door middel van links met deze website zijn verbonden. Wij kunnen niet garanderen dat deze derden op een betrouwbare of veilige manier met uw persoonsgegevens omgaan. Daarom raden wij u aan de privacyverklaring van deze websites te lezen alvorens van deze websites gebruik te maken.
            </p>
            <p><h5>Cookies</h5></p>
            <p>Wij maken op deze website gebruik van cookies. Een cookie is een klein tekstbestand dat bij het eerste bezoek aan deze website wordt opgeslagen in de browser van uw computer, tablet of smartphone. Deze zorgen ervoor dat de website naar behoren werkt en dat bijvoorbeeld uw voorkeursinstellingen onthouden worden. Deze cookies worden ook gebruikt om de website goed te laten werken en deze te kunnen optimaliseren. Bij uw eerste bezoek aan onze website hebben wij u al geïnformeerd over deze cookies en toestemming gevraagd voor het plaatsen ervan. U kunt zich afmelden voor cookies door uw internetbrowser zo in te stellen dat deze geen cookies meer opslaat. Daarnaast kunt u ook alle informatie die eerder is opgeslagen via de instellingen van uw browser verwijderen.
            </p>
            <p><h5>Gebruik van permanente cookies</h5></p>
            Met behulp van permanente cookies kunnen wij u herkennen bij een nieuw bezoek op onze website. De website kan daardoor speciaal op uw voorkeuren worden ingesteld. Ook wanneer u toestemming hebt gegeven voor het plaatsen van cookies kunnen wij dit door middel van een cookie onthouden. Hierdoor hoeft u niet steeds uw voorkeuren te herhalen waardoor u dus tijd bespaart en een prettiger gebruik van onze website kunt maken. Permanente cookies kunt u verwijderen via de instellingen van uw browser.
            
            <p><h5>Gebruik van sessie cookies</h5></p>
            Met behulp van sessie cookies kunnen wij zien welke onderdelen van de website u met dit bezoek hebt bekeken. Wij kunnen onze dienst daardoor zoveel mogelijk aanpassen op het surfgedrag van onze bezoekers. Deze cookies worden automatisch verwijderd zodra u uw webbrowser afsluit.
            
            <p><h5>Gebruik van analytische cookies</h5></p>
            Wij houden statistieken bij op onze website, maar dit gebeurt te allen tijde geheel geanonimiseerd dan wel gepseudonimiseerd. Er worden geen statistieken bijgehouden op delen van de website waar uw gezondheidsgegevens uitgewisseld worden. Voor het bijhouden van statistieken kunnen wij gebruikmaken van onderstaande toepassingen.
            
            <p><h5>Google Analytics</h5></p>
            In de gevallen dat wij de tool Google Analytics hebben geactiveerd, worden via onze website cookies geplaatst van het Amerikaanse bedrijf Google, als deel van de Analytics dienst. Wij gebruiken deze dienst om bij te houden en rapportages te krijgen over hoe bezoekers de website gebruiken. Deze tool is privacyvriendelijk ingesteld. Zo hebben wij Google niet toegestaan de verkregen Analytics informatie te gebruiken voor andere Google-diensten, wij laten de IP-adressen pseudonimiseren en hebben een verwerkersovereenkomst met Google gesloten.
            De informatie die door Google wordt verzameld, wordt overgebracht naar en opgeslagen op servers in de Verenigde Staten. Google stelt zich te houden aan de Privacy Shield principles en is aangesloten bij het Privacy Shield-programma van het Amerikaanse Ministerie van Handel. Dit houdt in dat er sprake is van een passend beschermingsniveau voor de verwerking van eventuele persoonsgegevens.
            
            <p><h5>Matomo Analytics (Piwik)</h5></p>
            In het geval dat wij de tool van Matomo Analytics hebben geactiveerd, dan worden er (first party) cookies geplaatst om bezoekersstatistieken bij te houden. Het biedt ons de mogelijkheid om in kaart te brengen hoe bezoekers onze website gebruiken (hoelang je op een pagina blijft, van welke pagina je hier terecht bent gekomen en om het aantal unieke bezoekers te tellen). Alle gegevens blijven op onze server staan en worden nooit gedeeld met andere partijen.
            
            <p><h5>Wijzigingen in deze privacy- en cookieverklaring</h5></p>
            Wij behouden ons het recht voor om wijzigingen aan te brengen in deze verklaring. Het verdient aanbeveling om deze verklaring geregeld te raadplegen, zodat u van deze wijzigingen op de hoogte bent.
            
            <p><h5>Inzage, wijzigen en verwijderen van uw gegevens</h5></p>
            U heeft het recht om uw persoonsgegevens in te zien, te corrigeren of te verwijderen. Daarnaast heeft u het recht om uw eventuele toestemming voor de gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van uw persoonsgegevens door Apotheek Westerbork en heeft u het recht op gegevensoverdraagbaarheid. Dat betekent dat u bij ons een verzoek kunt indienen om de persoonsgegevens die wij van u beschikken in een computerbestand naar u of een ander, door u genoemde organisatie, te sturen. U kunt een verzoek tot inzage, correctie, verwijdering, gegevensoverdraging van uw persoonsgegevens of verzoek tot intrekking van uw toestemming of bezwaar op de verwerking van uw persoonsgegevens sturen naar de onderstaande contactgegevens. We reageren zo snel mogelijk op uw verzoek. Zorg ervoor dat u duidelijk aangeeft wie u bent, zodat wij zeker weten dat we geen gegevens van de verkeerde persoon aanpassen of verwijderen.
            
            <p><h5>Autoriteit Persoonsgegevens</h5></p>
            Apotheek Westerbork wil u er tevens op wijzen dat u de mogelijkheid heeft om een klacht in te dienen bij de toezichthouder in het land waar u bent gevestigd. In Nederland heet de toezichthouder de Autoriteit Persoonsgegevens.
            
            <p><h5>Vragen en feedback</h5></p>
            We controleren regelmatig of we aan dit privacybeleid voldoen. Als u vragen heeft over dit privacybeleid, kunt u contact met ons opnemen door middel van de onderstaande contactgegevens.
            
            <p><h5>Contact</h5></p>
            <p>Apotheek Westerbork </p>
           
            
            <div class="col-md-6 col-lg-3">
              <div class="block-5 mb-5">
                <h3 class="footer-heading mb-4"></h3>
                <ul class="list-unstyled">
                  <li class="address">Groeneweg 3 <br> 9431 BJ <br> Westerbork</li>
                  <li class="phone"><a href="tel:+31593371590">0593 371590</a></li>
                  <li class="email"><a href="mailto:info@apotheekwesterbork.nl">info@apotheekwesterbork.nl</a></li>
                </ul>
              </div>
            </div>
            </div>


            </div>
            </div>
            </div>


<div><%- include("footer.ejs") %>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>