<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apotheek Westerbork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include("navbar.ejs") %>
<div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4"><strong class="text-primary"></strong></h3>
              <p><h4>Toestemming</h4><br><hr>
                <p><h5>Elektronisch medische gegevens delen</h5></p>
                <p>Uw huisarts en apotheek houden ieder een eigen dossier over u bij. Hierin staat informatie die belangrijk is voor uw behandeling. Uw huisarts legt vast wat uw klachten zijn en welke behandelingen u krijgt. Uw apotheker registreert welke medicijnen u krijgt en voor welke medicijnen u allergisch bent.
                Deze gegevens kunnen worden uitgewisseld met het LSP (Landelijk Schakelpunt).
                Voor een heldere uitleg over het LSP kunt u hieronder het filmpje bekijken van VZVZ.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ro78n39lp-c?si=SAsu9lhgkKSsyfMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <br><br><p>Wilt u dat zorgverleners uw medische gegevens elektronisch kunnen delen? Dan kunt u hiervoor mondeling toestemming geven als uw huisarts of apotheker daarom vraagt. Daarnaast kunt u het formulier uitprinten, invullen en inleveren bij uw zorgverlener. Ook kunt u uw toestemming online regelen op <a href= "https://www.volgjezorg.nl/">www.volgjezorg.nl.<span>&#8594;</span></a> Het kan zijn dat meerdere zorgaanbieders gegevens over u hebben die ze willen delen. Geeft u dan bij elke zorgaanbieder uw toestemming. U kunt uw toestemming altijd weer intrekken.
                </p>
                <p><a href="files/volgjezorg.pdf" class="link">Bekijk de Voorlichtingsfolder Volgjezorg<span>&#8594;</span></a></p>

                <p>Het formulier downloaden en uitprinten? <a href="files/toest.pdf" class="link">Download het formulier.<span>&#8594;</span></a></p>
        
            </div>
            </div>
            </div>


<div><%- include("footer.ejs") %>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>